html, body {
  margin: 0px;
  height: 100%;
}

.header {
  background-color: rgb(0, 0, 255);
  text-align: center;
  vertical-align: middle;
  line-height: 15vh;
  height: 15vh;
  font-size: 5vw;
  font-family: "courier new";
  color: white;
}

.content {
  text-align: center;
}

.buttons {
  width: 100%;
  margin: 0px;
}

.buttonStyle {
  font-family: "courier new";
  font-weight: bold;
  text-align: center;
  border: none;
  margin: 0px;
}

.halfWidthButton {
  font-size: 3vw;
  width: 50%;
  height: 20vh;
}

.fullWidthButtonSmall {
  font-size: 3vw;
  width: 100%;
  height: 20vh;
}

.fullWidthButtonLarge {
  font-size: 4vw;
  width: 100%;
  height: 25vh;
}

.additionButton {
  background-color: rgb(205, 245, 249);
  float: left;
}

.subtractionButton {
  background-color: rgb(239, 205, 249);
}

.multiplicationButton {
  background-color: rgb(245, 242, 147);
  float: left;
}

.divisionButton {
  background-color: rgb(249, 208, 127);
}

.allOfThemButton {
  background-color: rgb(251, 171, 171);
}

.howToPlayButton {
  background-color: rgb(200, 252, 189);
  float: left;
}

.highScoresButton {
  background-color: rgb(196, 189, 255);
}

.chosenCalculationTypeDisplay {
  background-color: rgb(0, 0, 255);
  font-family: "courier new";
  color: white;
  vertical-align: middle;
  line-height: 10vh;
  text-align: center;
  border: none;
  margin: 0px;
  font-size: 2.5vw;
  width: 100%;
  height: 10vh;
}

.easyDifficultyButton {
  background-color: rgb(200, 252, 189);
}

.mediumDifficultyButton {
  background-color: rgb(249, 208, 127);
}

.hardDifficultyButton {
  background-color: rgb(251, 171, 171);
}

.homeButton {
  background-color: rgb(205, 245, 249);
  font-size: 3vw;
  width: 100%;
  height: 15vh;
}

.calculationTypeSeparator, .difficultySeparatorLeft,
.difficultySeparatorCentre, .difficultySeparatorRight {
  width: 25%;
  margin: auto;
}

.calculationTypeSeparator {
  font-size: 3vh;
}

.difficultySeparatorLeft, .difficultySeparatorCentre, .difficultySeparatorRight {
  font-size: 1.5vh;
}

.highScoresPageRow {
  width: 100%;
  display: flex;
  height: 12vh;
}

.highScoresPageColumnHeaders {
  background-color: rgb(208, 241, 158);
  width: 100%;
  display: flex;
  height: 10vh;
}

.highScoresPageColumnHeader {
  font-size: 2vw;
  font-family: "courier new";
  font-weight: bold;
}

.highScoresCalculationType {
  font-family:"courier new";
  font-size: 1.5vw;
}

.additionHighScores {
  background-color: rgb(205, 245, 249);
}

.subtractionHighScores {
  background-color: rgb(239, 205, 249);
}

.multiplicationHighScores {
  background-color: rgb(251, 171, 171);
}

.divisionHighScores {
  background-color: rgb(249, 208, 127);
}

.allCalculationTypesHighScores {
  background-color: rgb(245, 242, 147);
}

.highScoresHomeButton {
  background-color: rgb(205, 245, 249);
  font-size: 3vw;
  width: 50%;
  height: 15vh;
  float: left;
}

.highScoresResetScoresButton {
  background-color: rgb(196, 189, 255);
  font-size: 3vw;
  width: 50%;
  height: 15vh;
}

.scoresDisplay {
  font-family: "courier new";
}

.howToPlaySection {
  background-color: rgb(139, 255, 169);
}

.howToPlaySteps {
  width: 80%;
  margin: auto;
  font-family: "courier new";
  font-weight: bold;
  height: 70vh;
  align-items: center;
  display: flex;
}

.informationAndGameAndButtonsArea {
  height: 70vh;
  font-family: "courier new";
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 3vw;
}

.informationArea {
  display: flex;
  height: 10vh;
  line-height: 10vh;
}

.informationAreaElementTimer {
  width: 50%;
  background-color: rgb(139, 255, 169);
}

.informationAreaElementDifficulty {
  width: 50%;
  background-color: rgb(196, 189, 255);
}

.gameArea {
  height: 45vh;
  display: flex;
}

.questionAndAnswerOutputArea {
  height: 45vh;
  width: 40%;
}

.questionArea {
  height: 22.5vh;
  background-color: rgb(255, 178, 152);
  width: 100%;
  line-height: 22.5vh;
}

.answerOutputArea {
  height: 22.5vh;
  background-color: rgb(153, 204, 255);
  width: 100%;
  line-height: 22.5vh;
}

.answerInputArea {
  height: 45vh;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.disableHighlightingOnAllBrowserTypes {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.smallAnswerArea {
  height: 15vh;
  width: 20%;
  line-height: 15vh;
}

.smallAnswerArea:hover {
  color: white;
  background-color: black;
}

.bigAnswerArea {
  height: 15vh;
  width: 40%;
  line-height: 15vh;
}

.bigAnswerArea:hover {
  color: white;
  background-color: black;
}

.answerAreaBackground0 {
  background-color: rgb(208, 241, 158);
}

.answerAreaBackground1 {
  background-color: rgb(245, 242, 147);
}

.answerAreaMinus {
  background-color: rgb(249, 208, 127);
}

.answerAreaDelete {
  background-color: rgb(251, 171, 171);
}

.answerAreaClear {
  background-color: rgb(249, 208, 127);
}

.gameOverPopup {
  width: 100%;
  margin: auto;
  height: 55vh;
  position: absolute;
  top: 15vh;
  left: 0;
}

.wellDonePopupArea {
  width: 100%;
  margin: auto;
  height: 20vh;
  background-color: rgb(245, 242, 147);
}

.scorePopupArea {
  width: 100%;
  margin: auto;
  height: 15vh;
  background-color: rgb(245, 242, 147);
}

.ratingPopupArea {
  width: 100%;
  margin: auto;
  height: 20vh;
  background-color: rgb(245, 242, 147);
}

.fadeIn {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.buttonToDivAppearance {
  border: none;
  margin: 0px;
  font-family: "courier new";
  font-weight: bold;
  font-size: 3vw;
}

.playAgainButton {
  background-color: rgb(239, 205, 249);
  font-size: 3vw;
  width: 50%;
  height: 15vh;
  float: left;
}

.changeDifficultyButton {
  background-color: rgb(200, 252, 189);
  font-size: 3vw;
  width: 50%;
  height: 15vh;
}

.buttonStyle:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 500px) {
  .homepage1, .homepage2 {
    font-size: 4vw;
  }
  .gameTypeButton:hover {
    background-color: rgb(208, 241, 158);
    color: black;
  }
  .deleteButton:hover {
    background-color: red;
    color: black;
  }
  .clearButton:hover {
    background-color: black;
    color: red;
  }
  .gameTypeButton:active {
    background-color: rgb(242, 123, 64);
    color: white;
  }
  .howToPlaySteps {
    font-size: 3vw;
  }
  .highScoresCalculationType {
    font-size: 2vw;
  }
}
